.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

**/target/
**/.classpath
**/.project
**/.settings/

.env
*.log
out/*
!out/.gitkeep
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.auto.tfvars
crash.log
wallet/

**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfvars
**/*.auto.tfvars
**/crash.log

node_modules/
playwright-report/
test-results/

wallet/
*.pem
*.key
*.p12
*.jks
